<% theme ||= false -%>
<head>
  <title><%= browser_title(yield(:title)) %></title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
  <meta charset='<%= Refinery::Application.config.encoding %>' />

  <%= csrf_meta_tag %>
  <%= render(:partial => '/shared/html5_for_ie.js').html_safe if request.env['HTTP_USER_AGENT'] =~ /MSIE/ %>
  <%= render :partial => 'shared/google_analytics' unless local_request? %>
  <%= stylesheet_link_tag "application", "formatting", :theme => theme %>
  <%= stylesheet_link_tag "theme" %>
  <%= stylesheet_link_tag "home", :theme => theme if home_page? %>
  <script src="/javascripts/jquery.js" type="text/javascript"></script>
  <script src="/javascripts/application.js" type="text/javascript"></script>
  <link rel="stylesheet" media="screen" href="/theme/stylesheets/superfish.css" /> 
  <link rel="stylesheet" media="screen" href="/theme/stylesheets/colorbox.css" /> 
  <script src="/theme/javascripts/hoverIntent.js"></script> 
  <script src="/theme/javascripts/superfish.js"></script>
  <script>
      $(document).ready(function(){ 
          $(".sf-menu ul").superfish(); 
          $("img").removeAttr('width');
          $("img").removeAttr('height');
      }); 
  </script>
  <script src="/theme/javascripts/jquery.colorbox-min.js"></script>
  <script>
		$(document).ready(function(){
			$(".cooking").colorbox({opacity:".5", width:"400px", inline:true, href:"#cooking", transition:"none"});
			$(".relatedrecipes").colorbox({opacity:".5", width:"400px", inline:true, href:"#relatedrecipes", transition:"none"});
		});
	</script>
	<script>
	  $(document).ready(function() {
      $('div.retailerinfo table tr:odd').addClass('odd');
      $('div.retailerinfo table tr:even').addClass('even');
    });
  </script>

  
  
  <!--[if IE 7]> <link href="/theme/stylesheets/ie7.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
  <%= "<meta name=\"keywords\" content=\"#{@meta.meta_keywords}\" />".html_safe if @meta.meta_keywords.present? %>
  <%= "<meta name=\"description\" content=\"#{@meta.meta_description}\" />".html_safe if @meta.meta_description.present? -%>
  <%= yield :head_libraries %>
  <%= yield :head %>
</head>
