<%
  dom_id ||= 'menu'
  css ||= 'menu'
  hide_children = RefinerySetting.find_or_set(:menu_hide_children, false) unless defined?(hide_children)
  # cache_key = [Refinery.base_cache_key]
  # cache_key << (action_suffix ||= RefinerySetting.find_or_set(:refinery_menu_cache_action_suffix, "site_menu"))
  # cache_key << extra_suffix if defined?(extra_suffix) and extra_suffix.present?
  # cache_key << request.path
  # cache(cache_key.compact.join('_')) do
  # Select top menu items unless 'roots' is passed in.
  collection ||= @menu_pages
  roots ||= collection.select { |m| m.parent_id == nil }
  if roots.any?
    sibling_count = roots.size - 1
-%>
    <nav id='<%= dom_id %>' class='<%= %W(#{css} clearfix).join(' ') %>'>
      <ul>
        <%= render :partial => "/shared/menu_branch",
                   :collection => roots,
                   :locals => {
                     :hide_children => hide_children,
                     :sibling_count => sibling_count,
                     :collection => collection,
                     :apply_css => true #if you don't care about class='first' class='last' or class='selected' set apply_css to false for speed.
                   }
        -%>
        <li><%= link_to('Site Map', '/site') %>
        <li><%= link_to('Retailer Login', '/retail_logins/new') %></li>
        <li><%= link_to('Admin', '/refinery') %>
      </ul>
    </nav>
<%
  end
  # end
-%>
