﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 


<html>
  <%= render :partial => "/shared/head", :locals => {:theme => true} %>
  <body>
    

    
  <div align="center">
    <!-- RCMS Functionality -->
    <%#= render :partial => "/shared/site_bar" %>
    
    <div id='page_container'>
      <div id='page'>
        <%= render :partial => "/shared/ie6check" if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
        <div id='header'>
          <%= render :partial => "/shared/header" %>
        </div>
        <div id="logo">
          <a href="/" id="homelogo"></a>
        </div>
        <div id="left">
          <div id="globalside">
            
            <img src="/theme/images/slogan.png" alt="" id="slogan"/>
 
            <% if @page && @page['Side Body'.to_sym].present? %>
              <div id="pageside">
                <%= raw(@page['Side Body'.to_sym]) %>
              </div>
            <% end %>
            
                   
            <div class="sidemodule" id="findgrocer">
              <h3>
                Look for us in your grocer&rsquo;s freezer 
              </h3>
              <div class="sidemodulecontent">
                <%= form_tag(stores_path, :method => :get) do %>
                  <%= select_tag(:state, options_for_select(Carmen::states('US'))) %>
                  <button><span>
                    Search
                  </span></button>
                <% end %>
              </div>
            </div>
  
            <% if not home_page? %>  
              <div class="sidemodule" id="findgrocer">
                <h3>
                  Featured Recipe
                </h3>
                <div class="sidemodulecontent" id="sidefeatrec">
                  <% @featured_recipe = (@product && @product.recipes.present? ? @product.recipes : Recipe).order('RAND()').first %>
                  <h4><%= @featured_recipe.title %></h4>
                  <%= raw truncate_html(@featured_recipe.recipe, :length => 200) %>
                  <%= link_to("Read More »", recipes_path) %>
                </div>
              </div>
              <% @featured_product = Product.featured.order('RAND()').first %>
              <% if @featured_product %>
                <div class="sidemodule" id="findgrocer">
                  <h3>
                    Featured Product
                  </h3>
                  <div class="sidemodulecontent">
                    <h4><%= @featured_product.title %></h4>
                    <%= raw truncate_html(@featured_product.description, :length => 200) %>
                    <%= link_to("Read More »", product_path(@featured_product)) %>
                    <% if @featured_product.featured_image %>
                    <p>
                      <center>
                        <%= image_fu(@featured_product.featured_image, '165x') %>
                      </center>
                    </p>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
            
          </div>
          
        </div>
        <div id='body' class='clearfix'>
          <%= render :partial => "/shared/menu",
             :locals => {
               :dom_id => 'menu',
               :css => 'menu'
             } -%>  
             <div class="clear"></div>
          <%= yield %>
        </div>
        <div class="clear"></div>
        <div id='footer'>
          <%= render :partial => "/shared/footer" %>
        </div>
      </div>
    </div>
    <div id='footer_content' class='clearfix'>
      <div class="left">
      	<%= render :partial => "/shared/menu_footer",
					:locals => {
						:dom_id => 'footer_menu',
						:css => 'footer_menu'
					} -%>
      
        2201 West Southbranch Boulevard  |  Oak Creek, WI 53154  |  Phone: 414.761.8944  |  Fax: 414.761-2005   EDI Capable<br/>
        Copyright &copy; <%= Time.now.year %> Joseph Campione, Inc. All rights reserved. 
        
        <%#= t('.copyright').html_safe -%> 
        <%#= Time.now.year -%> 
        <%#= RefinerySetting.get(:site_name) %>
      </div>
      <div class="right">
        <ul>
          <li><img src="/theme/images/foodsafety.png" /></li>
          <li><img src="/theme/images/sqf2000.png" /></li>
          <li><img src="/theme/images/usda.png" /></li>
        </ul>
      </div>
    </div>
  </div>
  </body>
</html>
