/* @import url('/stylesheets/refinery/application.css'); */
/*
    Override default refinery application CSS below.
    Formatting applies to all frontend.
*/



body {
  background: #41210a url('/theme/images/bg.jpg') no-repeat 50% 0% fixed;
  font-family: Arial, Helvetica, San-serif;
  font-size: 12px;
  color: #000;
  text-align: left;
}

table, tr, td, ul, li, p {
  font-size: 12px;
}

hr {
  color: #a47a46;
  border-color: #a47a46;
  border: none;
  border-top: 1px solid;
}

ul {
  padding-left: 1.5em;
}

.clear {clear: both;}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

h1, h2, h3, h4, h5, h6 {
  color: #C80000;
  font-family: Georgia, "Times", "Times New Roman", Serif;
  text-align:left;
}

li, div {
  text-align: left;
}

h2 {
  font-weight: normal;
}

a {
  color: #C80000;
  text-decoration: none;
}

img {
  border: none;
}

p {
  text-align: left;
}

label {
  clear: both;
  display: block;
  margin-top: 1em;
}

.inquiries form {
  padding-top: 0px;
}

#page_container {
  width: 876px;
  margin: 0 auto;
}

#page {
  background: #41210a;
  border: 2px solid #C72026;
  padding: 0px;
  width: auto;
  margin-top: 85px;
}

#body {
  background: url("/theme/images/topbg.png") repeat-x scroll 0 0 #E1B37A;
  float: right;
  width: 600px;
  margin-right: 16px;
  margin-bottom: 16px;
}

#left {
  width: 250px;
  float: left;
  min-height: 20px;
}

#menu {
  background: #41210A;
  height: auto;
  padding: 0px 0;
  width: 100%;
}

#menu ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

#menu ul li {
  font-family: "Trajan Pro",Georgia;
  font-size: 13px;
  font-weight: normal;
  text-shadow: 2px 2px 6px #000000;
  text-transform: uppercase;
  background: url('/theme/images/divide.png') no-repeat 100% 54%;
  margin-left: -1px;
  filter: glow(color=#000000,strength=5,offX=2,offY=2);
  letter-spacing:0px;
}

#menu ul li a {
  color: #fff;
  padding: 12px 12px 10px;
}

#menu ul li.first,
#menu ul ul li {
  margin-left: 0px;
}

#menu ul li.first a{
}

#menu ul li.last {
  border-right: 0px;
  background-image: none;
}
#menu ul li.last a {
}

.menu li.selected > a {
  font-weight: normal;
}

.menu li {
  margin-right: 0;
}

#logo {
  position: absolute;
  margin: -33px 0 0 35px;
  display: block;
}

#homelogo {
  background: url('/theme/images/logo.png') no-repeat;
  width: 183px;
  height: 183px;
  display: block;
}

#globalside {
  background:none;
  margin-left:20px;
  margin-top:160px;
  width:214px;
  margin-bottom: 85px;
}

#slogan {
  margin-bottom: 7px;
}

.sidemodule {
  margin-bottom: 13px;
  position: relative;
  z-index: 1000;
  font-size: 11px;
}

.sidemodule h3 {
  background:none repeat scroll 0 0 #C80000;
  color:#FFFFFF;
  font-family:Georgia;
  font-size:14px;
  font-weight:normal;
  padding:8px 35px 10px;
  text-align:center;
  text-transform:capitalize;
  margin: 0px;
}

.sidemodulecontent {
  padding: 15px 16px;
  background: #fff;
  font-family: Arial, Helvetica;
  color: #000;
  text-align: left;
}

#sidefeatrec p{
  margin: 0;
}

.sidemodulecontent h4 {
  margin: 0;
}

#pageside {
  margin-bottom: 22px;
  color: #c69c6d;
  font-size: 12px;
  padding: 0 12px;
  text-align: center;
  line-height: 1.5em;
}

#pageside p {
  margin-top: 0;
}

#footer_image {
  background: url('/theme/images/footer.png') no-repeat;
  height: 103px;
  width: 872px;
  position: absolute;
  margin-top: -103px;
}

#footer_content {
  width: 876px;
  margin: 0 auto;
  font-size: 11px;
  padding: 10px 0 30px 0;
}

#footer_content .right {
  float: right;
  width: auto;
}

#footer_content .right ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer_content .right ul li{
  float: left;
  margin: 0 0 0 15px;
}

#footer_content .left {
  float: left;
}

#footer_menu {
  font-size: 11px;
  color: #000;
  margin-bottom: 5px;
}

#footer_menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#footer_menu ul li {
  float: left;
  font-size: 11px;
}

#footer_menu ul ul {
  display: none;
}

#footer_menu a {
  color: #000;
  border-right: 1px solid #000;
  padding: 0 7px;
  font-weight: bold;
}

#footer_menu .first a {
  padding-left: 0px;
}

#josephcampione {
  background: url("/theme/images/josephcampione.png") no-repeat scroll 0 0 transparent;
  height: 142px;
  margin-left: 737px;
  margin-top: -36px;
  position: absolute;
  width: 117px;
}

#findgrocer {
  text-align: center;
}

#findgrocer form {
  font-size:11px;
  margin: 0;
}

#findgrocer button {
  font-family: Arial;
  font-size: 11px;
}

#findgrocer select {
  width: 120px;
  border: 1px solid silver;
  font-size: 11px;
}

#body_content {
  width: 600px;
}

#body_content_left {
    float: none;
    padding: 0 20px 80px 20px;
    width: auto;
    min-height: 800px;
}

h1#body_content_page_title {
  background: url("/theme/images/heading.png") no-repeat scroll 0 0 transparent;
  border: medium none;
  color: #FFFFFF;
  font-family: "Trajan Pro";
  font-size: 22px;
  font-weight: bold;
  height: 100px;
  margin: 0;
  padding: 58px 0 0 20px;
  text-transform: uppercase;
  width: 580px;
}

.cooking, .relatedrecipes {
  width: 75px;
  height: 50px;
  display: inline-block;
  text-indent: -10000px;
  overflow: hidden;
}

.cooking {
  background: url("/theme/images/cooking_instructions.gif") no-repeat; 
}

.relatedrecipes {
  background: url("/theme/images/recipiecard.gif") no-repeat; 
}


/* *********************************************************** */
/* SECTIONS */
/* *********************************************************** */

.retailerinfo table,
.retailerinfo table td {
	font-size: 11px;
}

.retailerinfo table {
  border-collapse: collapse;
  padding: 0;
  margin: 0 0 1.5em 0;
  width: 100%;
}

.retailerinfo th {
  background: #990000;
  color: #fff;
  font-size: 11px;
}

.retailerinfo td {
  padding: 1px 2px;
}

.retailerinfo tr.odd {
  background: #dbad73;
}

.retailerinfo tr.even {
  background: #f0c58f;
}

.retailerinfo .orderinginfo tr {
  background: none;
}

.variations {
  margin-top: 2em;
  width: 550px;
  display: block;
}

.variations h3 {
  font-weight: bold;
  margin: 8px 0;
  font-family: Arial;
  font-size: 12px;
  text-align: center;
  
}

.variations table img {
  width: 135px;
  height: auto;
}

.variations table {
  margin-top: 1em;
  width: 100%;
  border: 0px solid red;
}

.variations table td {
  text-align: center;
}

#cboxLoadedContent h4 {
  margin: 0;
}

#cboxLoadedContent p {
  margin-top: 0;
}

.sitemap ul {
  margin-top: .5em;
  margin-bottom: .5em;
}

.sitemap ul li {
  margin-bottom: 3px;
}


.image-align-right {
  float: right;
}





.library_table {
  width: 500px;
}

.library_table td {
  vertical-align: top;
  overflow: hidden;
  word-wrap: break-word;
  padding: 5px;
}

.innercell {
width: 170px;
text-align: center;
}

.innercell img {
  margin-bottom: 5px;
  display: block;
}

.library_table td a {
  word-wrap: break-word;
}

.library_table td img {
  max-width: 200px;
}

.pagination {
  background: none repeat scroll 0 0 #EDC492;
  border: medium none;
  margin: 13px 0;
  padding: 4px;
}

.pagination em {background: #E1B37A; padding: 0 4px; margin: 0 2px; font-style: normal;}
.pagination a {margin: 0 2px;}

p.downloaditemlink a {
  -moz-border-radius: 4px 4px 4px 4px;
    -moz-box-shadow: 2px 2px 7px #555555;
    -webkit-border-radius: 4px 4px 4px 4px;
    -webkit-box-shadow: 2px 2px 7px #555555;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 2px 2px 7px #555555;
    background: url("/theme/images/download.png") no-repeat scroll 5px 90% #FFFFFF;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    padding: 5px 5px 4px 40px;
    width: 164px;
}

/*.about_us #body_content_page_title {display:none;}*/