
/* IE 7 */
#page_container {
  text-align: left;
}

#logo {
  position: absolute;
  display: block;
  margin-left: -210px;
}

#body_content {
  width: 600px;
}

.variations table img {
  width: 135px;
  max-width: 135px;
  height: auto;
}

.variations table tr td h3 {
  display: block;
  text-align: center;
}

#body {
  margin-bottom: 0px;
}

#body_content {
  margin-bottom: 0px;
}

.home #body_content_left {
  overflow: hidden;
  height: 543px;
}

